/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
}

.h1-white { color: white; }
.box-shadow { box-shadow: 0 .35rem .75rem rgba(0, 0, 0, .30); }

#div-1 {background-image: url('../imgs/1.jpg'); background-size: 100%;}
#div-2 {background-image: url('../imgs/2.jpg'); background-size: 100%;}
#div-3 {background-image: url('../imgs/3.jpg'); background-size: 100%;}
#div-4 {background-image: url('../imgs/4.jpg'); background-size: 100%;}
#div-5 {background-image: url('../imgs/5.jpg'); background-size: 100%;}

/* Mini-images */
#div-1-min {background-image: url('../imgs/1-min.jpg'); background-size: 100%;}
#div-2-min {background-image: url('../imgs/2-min.jpg'); background-size: 100%;}
#div-3-min {background-image: url('../imgs/3-min.jpg'); background-size: 100%;}
#div-4-min {background-image: url('../imgs/4-min.jpg'); background-size: 100%;}
#div-5-min {background-image: url('../imgs/5-min.jpg'); background-size: 100%;}
